python-dotenv
pandas
numpy
setuptools
scikit-learn
PyYAML
dill
mlflow
dagshub
fastapi
uvicorn
python-multipart
s3sync
boto3
datasets
pyarrow
fastparquet
xgboost
lightgbm
imbalanced-learn
matplotlib
seaborn