python-dotenv
pandas
numpy
setuptools
scikit-learn
PyYAML
dill
mlflow
dagshub
fastapi
uvicorn
python-multipart
s3sync
boto3
datasets
xgboost
lightgbm
pyarrow
fastparquet
matplotlib
seaborn
shap
pydantic
sqlalchemy
nfstream
streamlit
plotly
psutil